/** @format */

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
	font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		/*  */
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		/* blacknote */
		.bn-container {
			--bn-colors-menu-text: #f4f4f5;
			--bn-colors-menu-background: #1e1f22;
			--bn-colors-tooltip-text: #f4f4f5;
			--bn-colors-tooltip-background: #252629;
			--bn-colors-hovered-text: #f3f3f4;
			--bn-colors-hovered-background: #2c2d32;

			/* --bn-colors-disabled-text: red; */
			/* --bn-colors-disabled-background: red; */
		}
		.bn-editor {
			--bn-colors-editor-text: #ffff;
			--bn-colors-editor-background: #1e1f22;
			--bn-colors-side-menu: #9ca3af;

			--bn-colors-highlights-gray-text: #9b9a97;
			--bn-colors-highlights-gray-background: #ebeced;
			--bn-colors-highlights-brown-text: #64473a;
			--bn-colors-highlights-brown-background: #e9e5e3;
			--bn-colors-highlights-red-text: #e03e3e;
			--bn-colors-highlights-red-background: #fbe4e4;
			--bn-colors-highlights-orange-text: #d9730d;
			--bn-colors-highlights-orange-background: #f6e9d9;
			--bn-colors-highlights-yellow-text: #dfab01;
			--bn-colors-highlights-yellow-background: #fbf3db;
			--bn-colors-highlights-green-text: #4d6461;
			--bn-colors-highlights-green-background: #ddedea;
			--bn-colors-highlights-blue-text: #0b6e99;
			--bn-colors-highlights-blue-background: #ddebf1;
			--bn-colors-highlights-purple-text: #6940a5;
			--bn-colors-highlights-purple-background: #eae4f2;
			--bn-colors-highlights-pink-text: #ad1a72;
			--bn-colors-highlights-pink-background: #f4dfeb;

			--bn-font-family: "Inter", "SF Pro Display", -apple-system,
				BlinkMacSystemFont, "Open Sans", "Segoe UI", "Roboto", "Oxygen",
				"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
				sans-serif;
			--bn-border-radius: 6px;
		}
		.bg-mantine {
			--bn-colors-menu-text: red;
			--bn-colors-menu-background: #ffffff;
			--bn-colors-tooltip-text: #3f3f3f;
			--bn-colors-tooltip-background: #efefef;
			--bn-colors-hovered-text: #3f3f3f;
			--bn-colors-hovered-background: #efefef;
			--bn-colors-selected-text: #ffffff;
			--bn-colors-selected-background: #3f3f3f;
			--bn-colors-disabled-text: #afafaf;
			--bn-colors-disabled-background: #efefef;

			--bn-colors-shadow: #cfcfcf;
			--bn-colors-border: #efefef;
			--bn-colors-side-menu: #cfcfcf;

			--bn-colors-highlights-gray-text: #9b9a97;
			--bn-colors-highlights-gray-background: #ebeced;
			--bn-colors-highlights-brown-text: #64473a;
			--bn-colors-highlights-brown-background: #e9e5e3;
			--bn-colors-highlights-red-text: #e03e3e;
			--bn-colors-highlights-red-background: #fbe4e4;
			--bn-colors-highlights-orange-text: #d9730d;
			--bn-colors-highlights-orange-background: #f6e9d9;
			--bn-colors-highlights-yellow-text: #dfab01;
			--bn-colors-highlights-yellow-background: #fbf3db;
			--bn-colors-highlights-green-text: #4d6461;
			--bn-colors-highlights-green-background: #ddedea;
			--bn-colors-highlights-blue-text: #0b6e99;
			--bn-colors-highlights-blue-background: #ddebf1;
			--bn-colors-highlights-purple-text: #6940a5;
			--bn-colors-highlights-purple-background: #eae4f2;
			--bn-colors-highlights-pink-text: #ad1a72;
			--bn-colors-highlights-pink-background: #f4dfeb;

			--bn-font-family: "Inter", "SF Pro Display", -apple-system,
				BlinkMacSystemFont, "Open Sans", "Segoe UI", "Roboto", "Oxygen",
				"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
				sans-serif;
			--bn-border-radius: 6px;
		}
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground font-inter;
	}
}

/* Changes for dark mode */
